# Ignore the backend node_modules folder
backend/node_modules
frontend/node_modules

# Ignore environment files (for storing secrets)
.vs
.vscode
.env
backend/.env
frontend/.env

# Seed data
backend/*.csv
backend/seeder*
backend/migration
backend/*.csv
backend/seeder*
backend/migration
