/* frontend/src/App.css */
.App {
  text-align: center;
}

.main-content {
  padding: 2rem;
}

.page-container {
  max-width: 1250px;
  margin: 0 auto;
}

.dashboard-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #009879;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
